:root {
  --desktop: 1200px;
  // Fonts
  --main-font: 'Poppins', sans-serif;
  // Font weight
  --fw: 400;
  //Line height
  --lh-base: 1.5;
  //  Text colors
  --main-txt-cl: #403e3b;
  --secondary-txt-cl: #645c55;
  --title-txt-cl: #1b1a1a;
  --white-txt-cl: #ffffff;
  // Background colors
  --background-hero-cl: #ece7e4;
  --background-clients-cl: #403e3b;
  --background-section-cl: #f7f7f7;
  --background-contact-cl: #cec4bc;
  --background-black-btn-cl: #1b1a1a;
}
