<section class="clients">
  <div class="clients__container container">
    <div class="clients__wrap">
      <p class="clients__uppertitle">prior clients</p>
      <h2 class="clients__title">Happy customers.</h2>
      <p class="clients__descr">
        Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.
        Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices,
        ut faucibus orci tincidunt.
      </p>
    </div>
    <ul class="clients__list">
      <li class="clients__item">
        <svg class="clients__icon" width="128" height="30">
          <use href="./images/sprite.svg#icon-clients-1"></use>
        </svg>
      </li>
      <li class="clients__item">
        <svg class="clients__icon" width="128" height="78">
          <use href="./images/sprite.svg#icon-clients-2"></use>
        </svg>
      </li>
      <li class="clients__item">
        <svg class="clients__icon" width="128" height="20">
          <use href="./images/sprite.svg#icon-clients-3"></use>
        </svg>
      </li>
      <li class="clients__item">
        <svg class="clients__icon" width="128" height="36">
          <use href="./images/sprite.svg#icon-clients-4"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
