<footer class="footer">
  <div class="footer__container container">
    <div>
      <a class="logo" href="./" area-label="site logo"
        >Wishbone<span class="logo__bold-text">+Partners</span></a
      >
      <p class="footer__descr">Powered by Webflow.</p>
      <p class="footer__copyright">
        All rights reserved Wishbone+Partners, Inc.Licensing.
      </p>
    </div>
    <ul class="socials">
      <li>
        <svg class="socials__icon" width="24" height="25">
          <use href="./images/sprite.svg#icon-twitter"></use>
        </svg>
      </li>
      <li>
        <svg class="socials__icon" width="24" height="25">
          <use href="./images/sprite.svg#icon-instagram"></use>
        </svg>
      </li>
      <li>
        <svg class="socials__icon" width="24" height="25">
          <use href="./images/sprite.svg#icon-facebook"></use>
        </svg>
      </li>
    </ul>
  </div>
</footer>
