<header>
  <div class="container">
    <nav>
      <a class="logo" href="./" area-label="site logo">
        <img src="./images/svg/logo.svg" alt="logo" width="220" height="19" />
      </a>
      <ul class="site-nav">
        <li><a class="site-nav__link" href="">Projects</a></li>
        <li><a class="site-nav__link" href="">About</a></li>
        <li><a class="site-nav__link" href="">Clients</a></li>
        <li><a class="site-nav__link" href="">Team</a></li>
        <li><a class="site-nav__link" href="">Contact</a></li>
      </ul>
    </nav>
    <button class="btn">Get template</button>
  </div>
</header>
