<header class="header">
  <div class="header__wrap container">
    <a class="logo" href="./" area-label="site logo"
      >Wishbone<span class="logo__bold-text">+Partners</span></a
    >
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li><a class="site-nav__link" href="">Home</a></li>
        <li><a class="site-nav__link" href="">About</a></li>
        <li><a class="site-nav__link" href="">Projects</a></li>
        <li><a class="site-nav__link" href="">Team</a></li>
        <li><a class="site-nav__link" href="">Contact</a></li>
      </ul>
    </nav>
    <button class="header__btn btn">Get template</button>
  </div>
</header>
