<section class="news">
  <div class="container">
    <h2 class="news__title">Featured projects</h2>
    <p class="news__descr">
      Some of the latest and greatest projects from us here at
      Wishbone+Partners.
    </p>
    <ul class="news__list">
      <li class="card">
        <img
          class="card__img"
          src="./images/news/news-1_d.jpg"
          alt="Building"
          width="379"
          height="460"
        />
        <div class="card__text-thumb">
          <div class="card__wrap">
            <p class="card__uppertitle">New York</p>
            <h3 class="card__title">Big Road Brewery</h3>
          </div>
          <button class="card__btn" type="button">Read more</button>
        </div>
      </li>
      <li class="card">
        <img
          class="card__img"
          src="./images/news/news-3_d.jpg"
          alt="Beer taps"
          width="379"
          height="460"
        />
        <div class="card__text-thumb">
          <div class="card__wrap">
            <p class="card__uppertitle">New York</p>
            <h3 class="card__title">Big Road Brewery</h3>
          </div>
          <button class="card__btn" type="button">Read more</button>
        </div>
      </li>
      <li class="card">
        <img
          class="card__img"
          src="./images/news/news-2_d.jpg"
          alt="Building"
          width="379"
          height="460"
        />
        <div class="card__text-thumb">
          <div class="card__wrap">
            <p class="card__uppertitle">New York</p>
            <h3 class="card__title">Big Road Brewery</h3>
          </div>
          <button class="card__btn" type="button">Read more</button>
        </div>
      </li>
    </ul>
    <button class="news__btn" type="button">View all projects</button>
  </div>
</section>
