<section class="team">
  <div class="team__container container">
    <div class="team__wrap">
      <h2 class="team__title">Meet our team</h2>
      <p class="team__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis.
      </p>
      <button class="team__btn" type="button">See team</button>
    </div>
    <ul class="team__list">
      <li class="team-member">
        <img
          src="./images/team/team-1_d.png"
          alt="Stephen Collier"
          width="84"
          height="84"
        />
        <div>
          <h3 class="team-member__title">Stephen Collier</h3>
          <p class="team-member__descr">Senior Partner</p>
        </div>
      </li>
      <li class="team-member">
        <img
          src="./images/team/team-2_d.png"
          alt="Stephen Collier"
          width="84"
          height="84"
        />
        <div>
          <h3 class="team-member__title">Nolan Peters</h3>
          <p class="team-member__descr">Associate</p>
        </div>
      </li>
      <li class="team-member">
        <img
          src="./images/team/team-3_d.png"
          alt="Stephen Collier"
          width="84"
          height="84"
        />
        <div>
          <h3 class="team-member__title">Ferris Wonder</h3>
          <p class="team-member__descr">Associate Partner</p>
        </div>
      </li>
      <li class="team-member">
        <img
          src="./images/team/team-4_d.png"
          alt="Stephen Collier"
          width="84"
          height="84"
        />
        <div>
          <h3 class="team-member__title">Aria Stone</h3>
          <p class="team-member__descr">Senior Partner</p>
        </div>
      </li>
      <li class="team-member">
        <img
          src="./images/team/team-5_d.png"
          alt="Stephen Collier"
          width="84"
          height="84"
        />
        <div>
          <h3 class="team-member__title">Niko Ferry</h3>
          <p class="team-member__descr">Partner</p>
        </div>
      </li>
    </ul>
  </div>
</section>
