.container {
  margin-right: auto;
  margin-left: auto;
  // padding-right: 15px;
  // padding-left: 15px;

  // @media screen and (max-width: 767px) {
  //   padding-right: calc(15px + (60 - 15) * ((100vw - 769px) / (1440 - 769)));
  //   padding-left: calc(15px + (60 - 15) * ((100vw - 769px) / (1440 - 769)));
  //   // max-width: calc(480px + (768 - 480) * ((100vw - 480px) / (768 - 480)));
  // }

  @media screen and (min-width: 768px) {
    padding-right: calc(60px + (136 - 60) * ((100vw - 769px) / (1440 - 769)));
    padding-left: calc(60px + (136 - 60) * ((100vw - 769px) / (1440 - 769)));
    max-width: calc(769px + (1440 - 769) * ((100vw - 769px) / (1440 - 769)));
  }

  @media screen and (min-width: 1440px) {
    padding-right: 136px;
    padding-left: 136px;
    max-width: 1440px;
  }

  // @media screen and (min-width: 769px) and (max-width: 1440px) {
  //   padding-right: calc(
  //     50px + (136 - 50) * ((100vw - 769px) / (1440 - 769))
  //   );
  //   padding-left: calc(
  //     50px + (136 - 50) * ((100vw - 769px) / (1440 - 769))
  //   );
  //   max-width: 1440px;
  // }

  // @media screen and (min-width: 1441px) {
  //   padding-right: calc(
  //     136px + (181 - 136) * ((100vw - 1440px) / (1920 - 1440))
  //   );
  //   padding-left: calc(
  //     136px + (181 - 136) * ((100vw - 1440px) / (1920 - 1440))
  //   );
  //   max-width: 1920px;
  // }
}
