.mobile-menu {
  @media screen and (max-width: 1439px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow-y: scroll;
    border-top: 1px solid var(--header-border-cl);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: transform, opacity, visibility;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateY(0);
  }

  &.is-open .mobile-menu__container {
    border-bottom: none;
  }
}

.mobile-menu__container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 480px;
    height: 100%;
    padding-top: 34px;
    padding-right: 40px;
    padding-bottom: 100px;
    padding-left: 40px;
    margin: 0 auto;
    border-bottom: 1px solid var(--header-border-cl);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}
