.site-nav {
  display: flex;

  @media screen and (max-width: 767px) {
    z-index: 5;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.site-nav__list {
  display: flex;

  @media screen and (max-width: 1439px) {
    gap: calc(7px + (32 - 7) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: calc(28px + (32 - 28) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    gap: 32px;
  }
}

.site-nav__link {
  @media screen and (max-width: 1439px) {
    font-size: calc(14px + (16 - 14) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (max-width: 767px) {
    font-size: calc(24px + (28 - 24) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}
