.site-nav {
  display: flex;
  margin-left: auto;
}

.site-nav__list {
  display: flex;
  gap: calc(7.11px + (32 - 7.11) * ((100vw - 320px) / (1440 - 320)));
}

.site-nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(3.56px + (16 - 3.56) * ((100vw - 320px) / (1440 - 320)));
}
