.socials {
  display: flex;
  align-items: end;

  @media screen and (min-width: 768px) {
    gap: calc(16px + (20 - 16) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    gap: 20px;
  }
}

.socials__icon {
  @media screen and (min-width: 768px) {
    width: calc(20px + (24 - 20) * ((100vw - 768px) / (1440 - 768)));
    height: calc(21px + (25 - 21) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    width: 24px;
    height: 25px;
  }
}
