.team-member {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    gap: calc(20px + (30 - 20) * ((100vw - 768px) / (1440 - 768)));
    width: calc(225px + (250 - 225) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    gap: 30px;
    width: 250px;
  }
}

.team-member__title {
  font-weight: 400;
  line-height: 1;
  color: var(--title-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: calc(15px + (17 - 15) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    font-size: 17px;
  }
}

.team-member__descr {
  line-height: 1;
  color: var(--secondary-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: calc(12px + (14 - 12) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    font-size: 14px;
  }
}
