.about {
  @media screen and (min-width: 768px) {
    @include section(
      calc(50px + (100 - 50) * ((100vw - 768px) / (1440 - 768))),
      calc(50px + (100 - 50) * ((100vw - 768px) / (1440 - 768)))
    );
  }

  @media screen and (min-width: 1440px) {
    @include section();
  }
}

.about__container {
  display: flex;
  justify-content: center;
}

.about__thumb {
  display: flex;

  @media screen and (min-width: 768px) {
    gap: calc(50px + (133 - 50) * ((100vw - 768px) / (1440 - 768)));
    max-width: 600px;
  }

  @media screen and (min-width: 1440px) {
    gap: 133px;
    max-width: 768px;
  }
}

.about__title {
  @extend %section-title--small;
  font-weight: 400;
  min-width: 134px;
}

.about__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__text {
  @media screen and (min-width: 768px) {
    font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}
