.clients {
  background-color: var(--background-clients-cl);
  color: var(--white-txt-cl);

  @media screen and (min-width: 768px) {
    @include section(
      calc(50px + (100 - 50) * ((100vw - 768px) / (1440 - 768))),
      calc(50px + (100 - 50) * ((100vw - 768px) / (1440 - 768)))
    );
  }

  @media screen and (min-width: 1440px) {
    @include section();
  }
}

.clients__container {
  display: flex;
  align-items: center;
  gap: calc(66px + (132 - 66) * ((100vw - 768px) / (1440 - 768)));

  @media screen and (min-width: 1440px) {
    gap: 132px;
  }
}

.clients__wrap {
  max-width: calc(285px + (470 - 285) * ((100vw - 768px) / (1440 - 768)));

  @media screen and (min-width: 1440px) {
    max-width: 470px;
  }
}

.clients__uppertitle {
  @extend %uppertitle;
  line-height: 1;
  color: var(--clients-txt-cl);
}

.clients__title {
  @extend %section-title--small;
  margin-bottom: 14px;
}

.clients__descr {
  @extend %descr;
  color: var(--clients-txt-cl);
}

.clients__list {
  --item: 2;
  --indent: calc(48px + (96 - 48) * ((100vw - 768px) / (1440 - 768)));
  @extend %card-set;
  align-items: center;
  padding-right: calc(20px + (40 - 20) * ((100vw - 768px) / (1440 - 768)));
  padding-left: calc(20px + (40 - 20) * ((100vw - 768px) / (1440 - 768)));
  margin-right: calc(0px + (124 - 0) * ((100vw - 768px) / (1440 - 768)));

  @media screen and (min-width: 1440px) {
    --indent: 96px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 124px;
  }
}

.clients__item {
  @extend %card-item;
}

.clients__icon {
  fill: currentColor;
  width: calc(104px + (128 - 104) * ((100vw - 768px) / (1440 - 768)));

  @media screen and (min-width: 1440px) {
    width: 128px;
  }
}
