.contact {
  background-color: #cec4bc;

  @media screen and (min-width: 768px) {
    @include section(
      calc(50px + (100 - 50) * ((100vw - 768px) / (1440 - 768))),
      calc(50px + (100 - 50) * ((100vw - 768px) / (1440 - 768)))
    );
  }

  @media screen and (min-width: 1440px) {
    @include section();
  }
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__uppertitle {
  @extend %uppertitle;
}

.contact__title {
  font-weight: 400;
  line-height: 1.05;
  color: var(--title-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: calc(32px + (40 - 32) * ((100vw - 768px) / (1440 - 768)));
    width: 500px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 40px;
    width: 576px;
  }
}

.contact__btn {
  @extend .btn;
  @extend .btn--transparent;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
