.features {
  @include section();
  text-align: center;
}

.features__uppertitle {
  @extend %uppertitle;
  margin-bottom: 13px;
}

.features__title {
  @extend %section-title;
  @extend %section-title--large;
  margin-bottom: 47px;
}

.features__list {
  --item: 3;
  --indent: 30px;
  @extend %card-set;
}

.features__item {
  @extend %card-item;
  // max-width: 294px;
  padding-right: 42px;
  padding-left: 42px;
  margin: 0 auto;
}

.features__icon {
  fill: var(--features-icon-cl);
  margin-bottom: 15px;
}

.features__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  margin-bottom: 10px;
}

.features__descr {
  font-size: 15px;
  line-height: 1.6;
  color: var(--secondary-txt-cl);
}
