.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-header-cl);
  z-index: 10;
  @media screen and (max-width: 1439px) {
    @include section(
      calc(10px + (20 - 10) * ((100vw - 768px) / (1440 - 768))),
      calc(10px + (20 - 10) * ((100vw - 768px) / (1440 - 768)))
    );
  }

  @media screen and (min-width: 1440px) {
    @include section(20, 20);
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__btn {
  @media screen and (max-width: 1439px) {
    font-size: calc(14px + (16 - 14) * ((100vw - 768px) / (1440 - 768)));
    margin-left: calc(7.11px + (32 - 7.11) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    font-size: 16px;
    margin-left: 32px;
  }
}
