.header {
  @include section(
    calc(4.44px + (20 - 4.44) * ((100vw - 320px) / (1440 - 320))),
    calc(4.44px + (20 - 4.44) * ((100vw - 320px) / (1440 - 320)))
  );
}

.header__wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__btn {
  margin-left: calc(7.11px + (32 - 7.11) * ((100vw - 320px) / (1440 - 320)));
}
