.hero {
  background-color: var(--background-hero-cl);
  margin-top: calc(52px + (80 - 52) * ((100vw - 768px) / (1440 - 768)));

  @media screen and (min-width: 1440px) {
    margin-top: 80px;
  }
}

.hero__container {
  background-position: right;
  background-repeat: no-repeat;
  margin: 0 auto;

  // mobile screen
  background-image: url('../images/hero/hero.jpg');
  background-image: -webkit-image-set(url('../images/hero/hero.webp') 1x);
  @include retinax2 {
    background-image: url('../images/hero/hero@2x.jpg');
    background-image: -webkit-image-set(url('../images/hero/hero@2x.webp') 2x);
  }
  @include retinax3 {
    background-image: url('../images/hero/hero@3x.jpg');
    background-image: -webkit-image-set(url('../images/hero/hero@3x.webp') 3x);
  }
  @include retinax4 {
    background-image: url('../images/hero/hero@4x.jpg');
    background-image: -webkit-image-set(url('../images/hero/hero@4x.webp') 4x);
  }

  @media screen and (max-width: 1439px) {
    @include section(
      calc(30px + (137 - 30) * ((100vw - 768px) / (1440 - 768))),
      calc(30px + (117 - 30) * ((100vw - 768px) / (1440 - 768)))
    );
    font-size: calc(8.54px + (16 - 8.54) * ((100vw - 768px) / (1440 - 768)));
    background-size: calc(
      384px + (720 - 384) * ((100vw - 768px) / (1440 - 768))
    );
  }

  @media screen and (min-width: 1440px) {
    @include section(137, 117);
    font-size: 16px;
    background-size: 720px;
  }

  // @media screen and (min-width: 769px) and (max-width: 1440px) {
  //   @include section(
  //     calc(73.16px + (137 - 73.16) * ((100vw - 768px) / (1440 - 768))),
  //     calc(62.48px + (117 - 62.48) * ((100vw - 768px) / (1440 - 768)))
  //   );
  //   font-size: calc(8.54px + (16 - 8.54) * ((100vw - 768px) / (1440 - 768)));
  //   background-size: calc(
  //     384px + (720 - 384) * ((100vw - 768px) / (1440 - 768))
  //   );
  // }

  // @media screen and (min-width: 1441px) {
  //   @include section(
  //     calc(137px + (182.67 - 137) * ((100vw - 1440px) / (1920 - 1440))),
  //     calc(117px + (156 - 117) * ((100vw - 1440px) / (1920 - 1440)))
  //   );
  //   font-size: calc(
  //     21.33px + (16 - 21.33) * ((100vw - 1440px) / (1920 - 1440))
  //   );
  //   background-size: calc(
  //     720px + (960 - 720) * ((100vw - 1440px) / (1920 - 1440))
  //   );
  // }
}

.hero__uppertitle {
  @extend %uppertitle;

  @media screen and (max-width: 1439px) {
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 20px;
  }

  // @media screen and (min-width: 769px) and (max-width: 1440px) {
  //   margin-bottom: calc(
  //     10.68px + (20 - 10.68) * ((100vw - 768px) / (1440 - 768))
  //   );
  // }

  // @media screen and (min-width: 1441px) {
  //   margin-bottom: calc(
  //     26.66px + (20 - 26.66) * ((100vw - 768px) / (1440 - 768))
  //   );
  // }
}

.hero__title {
  @extend %maintitle;

  @media screen and (max-width: 1439px) {
    max-width: calc(272px + (417 - 272) * ((100vw - 768px) / (1440 - 768)));
    margin-bottom: calc(12px + (24 - 12) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    max-width: 417px;
    margin-bottom: 24px;
  }

  // @media screen and (min-width: 769px) and (max-width: 1440px) {
  //   max-width: calc(
  //     222.69px + (417 - 222.69) * ((100vw - 768px) / (1440 - 768))
  //   );
  //   margin-bottom: calc(
  //     9.61px + (24 - 9.61) * ((100vw - 768px) / (1440 - 768))
  //   );
  // }

  // @media screen and (min-width: 1441px) {
  //   max-width: calc(417px + (556 - 417) * ((100vw - 1440px) / (1920 - 1440)));
  //   margin-bottom: calc(
  //     24px + (35.55 - 24) * ((100vw - 1440px) / (1920 - 1440))
  //   );
  // }
}

.hero__descr {
  @extend %descr;

  @media screen and (max-width: 1439px) {
    max-width: calc(300px + (509 - 300) * ((100vw - 768px) / (1440 - 768)));
    margin-bottom: calc(12px + (30 - 12) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    max-width: 509px;
    margin-bottom: 30px;
  }

  // @media screen and (min-width: 769px) and (max-width: 1440px) {
  //   max-width: calc(
  //     271.82px + (509 - 271.82) * ((100vw - 768px) / (1440 - 768))
  //   );
  //   margin-bottom: calc(
  //     16.02px + (30 - 16.02) * ((100vw - 768px) / (1440 - 768))
  //   );
  // }

  // @media screen and (min-width: 1441px) {
  //   max-width: calc(
  //     509px + (678.67 - 509) * ((100vw - 1440px) / (1920 - 1440))
  //   );
  //   margin-bottom: calc(30px + (40 - 30) * ((100vw - 1440px) / (1920 - 1440)));
  // }
}
