.reeding-house {
  background-color: var(--background-section-cl);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;

  // desktop screen
  background-image: url('../images/reeding-house/reeding-house-bg-img_d.jpg');
  background-image: -webkit-image-set(
    url('../images/reeding-house/reeding-house-bg-img_d.webp') 1x
  );
  @include retinax2 {
    background-image: url('../images/reeding-house/reeding-house-bg-img@2x_d.jpg');
    background-image: -webkit-image-set(
      url('../images/reeding-house/reeding-house-bg-img@2x_d.webp') 2x
    );
  }
  @include retinax3 {
    background-image: url('../images/reeding-house/reeding-house-bg-img@3x_d.jpg');
    background-image: -webkit-image-set(
      url('../images/reeding-house/reeding-house-bg-img@3x_d.webp') 3x
    );
  }
  @include retinax4 {
    background-image: url('../images/reeding-house/reeding-house-bg-img@4x_d.jpg');
    background-image: -webkit-image-set(
      url('../images/reeding-house/reeding-house-bg-img@4x_d.webp') 4x
    );
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    @include section(
      calc(130px + (266 - 130) * ((100vw - 768px) / (1440 - 768))),
      calc(130px + (266 - 130) * ((100vw - 768px) / (1440 - 768)))
    );
  }

  @media screen and (min-width: 1440px) {
    @include section(266, 266);
    max-width: 1440px;
  }
}

.reeding-house__wrap {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    max-width: 205px;
    margin-right: -30px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 285px;
    margin-right: -60px;
  }
}

.reeding-house__title {
  @extend %uppertitle;
  color: var(--main-txt-cl);
}

.reeding-house__descr {
  @extend %descr;
  color: var(--secondary-txt-cl);
}
