.reeding-house {
  @include section(266, 266);
  background-color: var(--background-section-cl);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;

  // desktop screen
  background-image: url('../images/reeding-house/reeding-house-bg-img_d.jpg');
  background-image: -webkit-image-set(
    url('../images/reeding-house/reeding-house-bg-img_d.webp') 1x
  );
  @include retinax2 {
    background-image: url('../images/reeding-house/reeding-house-bg-img@2x_d.jpg');
    background-image: -webkit-image-set(
      url('../images/reeding-house/reeding-house-bg-img@2x_d.webp') 2x
    );
  }
  @include retinax3 {
    background-image: url('../images/reeding-house/reeding-house-bg-img@3x_d.jpg');
    background-image: -webkit-image-set(
      url('../images/reeding-house/reeding-house-bg-img@3x_d.webp') 3x
    );
  }
  @include retinax4 {
    background-image: url('../images/reeding-house/reeding-house-bg-img@4x_d.jpg');
    background-image: -webkit-image-set(
      url('../images/reeding-house/reeding-house-bg-img@4x_d.webp') 4x
    );
  }
}

.reeding-house__wrap {
  max-width: 285px;
  margin-left: auto;
  margin-right: -60px;
}

.reeding-house__title {
  @extend %uppertitle;
  color: var(--main-txt-cl);
}

.reeding-house__descr {
  @extend %descr;
  color: var(--secondary-txt-cl);
}
