.swirling-staircase {
  background-color: var(--background-section-cl);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;

  // desktop screen
  background-image: url('../images/swirling-staircase/swirling-staircase-bg-img_d.jpg');
  background-image: -webkit-image-set(
    url('../images/swirling-staircase/swirling-staircase-bg-img_d.webp') 1x
  );
  @include retinax2 {
    background-image: url('../images/swirling-staircase/swirling-staircase-bg-img@2x_d.jpg');
    background-image: -webkit-image-set(
      url('../images/swirling-staircase/swirling-staircase-bg-img@2x_d.webp') 2x
    );
  }
  @include retinax3 {
    background-image: url('../images/swirling-staircase/swirling-staircase-bg-img@3x_d.jpg');
    background-image: -webkit-image-set(
      url('../images/swirling-staircase/swirling-staircase-bg-img@3x_d.webp') 3x
    );
  }
  @include retinax4 {
    background-image: url('../images/swirling-staircase/swirling-staircase-bg-img@4x_d.jpg');
    background-image: -webkit-image-set(
      url('../images/swirling-staircase/swirling-staircase-bg-img@4x_d.webp') 4x
    );
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    @include section(
      calc(150px + (266 - 150) * ((100vw - 768px) / (1440 - 768))),
      calc(150px + (266 - 150) * ((100vw - 768px) / (1440 - 768)))
    );
  }

  @media screen and (min-width: 1440px) {
    @include section(266, 266);
    max-width: 1440px;
  }
}

.swirling-staircase__wrap {
  @media screen and (min-width: 768px) {
    max-width: calc(205px + (285 - 205) * ((100vw - 768px) / (1440 - 768)));
    margin-left: calc(-30px + (-60 - (-30)) * ((100vw - 768px) / (1440 - 768)));
  }

  @media screen and (min-width: 1440px) {
    max-width: 285px;
    margin-left: -60px;
  }
}

.swirling-staircase__title {
  @extend %uppertitle;
  color: var(--main-txt-cl);
}

.swirling-staircase__descr {
  @extend %descr;
  color: var(--secondary-txt-cl);
}
